.card {
    cursor: pointer;
}
.img_section {
    position:relative;
}
.img {
    max-width: 300px;
    width: 100%;
    border-radius: 15px;
}
.active_section {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}
.like,
.delete {
    display: flex;
    background: #ffffff6b;
    border-radius: 10px;
    padding: 10px;
}
.like:hover,
.delete:hover {
    transform: scale(1.04);
}
.like svg,
.delete svg {
    /*fill: #909090;*/
    fill: none;
    stroke: #191919;
}
/*.like:hover svg,
.delete:hover svg {
    stroke: #545454;
    transform: scale(1.2);
}*/
.like:active svg {
    fill: #ed0919;
    stroke: #ed0919;
}